.end-page {
  height: 100%;
  background-color: black;
  /* overflow-y: scroll;
  -webkit-overflow-scrolling: touch; */
  flex-direction: column;
  flex: auto;
  display: flex;
  /* border: 4px solid orange; */
  justify-content: center;
  align-items: center;
  position: relative;
}

.end-page.hidden {
  display: none;
}

.over {
  font-size: 2.5rem;
  color: yellow;
}

.score-display {
  font-size: 2rem;
  color: yellow;
  margin-bottom: 1rem;
}

.btnAgain {
  padding: 1em;
  background-color: yellow;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .over {
    font-size: 4rem;
  }

  .score-display {
    font-size: 2.7rem;
  }

  .btnAgain {
    font-size: 1rem;
    padding: 1.5em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
