header {
  background: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  color: yellow;
  font-family: Stalinist One;
  white-space: nowrap;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    height: 60px;
  }

  h1 {
    font-size: 1.9rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    height: 80px;
  }

  h1 {
    font-size: 2.2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    height: 90px;
  }

  h1 {
    font-size: 3rem;
  }
}
